<div class="box">
  <div class="box-nav">
    <nav class="navigation">
      <a
        class="button"
        routerLink="render-image"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        Render image
      </a>
      |
      <a
        class="button"
        routerLink="slider"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        Slider
      </a>
    </nav>
  </div>
  <div class="box-children">
    <router-outlet></router-outlet>
  </div>
</div>
