<p>data-binding works!</p>
<div class="box">
  <div class="box-nav">
    <nav class="navigation">
      <a
        class="button"
        routerLink="3-data-binding"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        3. Data binding
      </a>
      <a
        class="button"
        routerLink="4-directive-pipe"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        4. Directive Pipe
      </a>
      <a
        class="button"
        routerLink="5-modules-and-components"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        5. Modules and Components
      </a>
    </nav>
  </div>
  <div class="box-children">
    <router-outlet></router-outlet>
  </div>
</div>
