<div class="box">
  <div class="box-nav">
    <nav class="navigation">
      <a
        class="button"
        routerLink="ul-ol"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        ol - ul - context
      </a>
      |
      <a
        class="button"
        routerLink="input-radio"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        input - radio
      </a>
      |
      <a
        class="button"
        routerLink="pipes"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        pipes
      </a>
    </nav>
  </div>
  <div class="box-children">
    <router-outlet></router-outlet>
  </div>
</div>
