<div class="box">
  <div class="box-nav">
    <nav class="navigation">
      <h3>Directives</h3>
      <h4>Attributive directives</h4>
      <a
        routerLink="ngClass"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton"
        >01_ngClass</a
      >
      <a
        routerLink="ngStyle"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton"
        >02_ngStyle</a
      >
      <a
        class="button"
        ariaCurrentWhenActive="page"
        routerLink="input-radio"
        routerLinkActive="activebutton"
      >
        input - radio
      </a>
      <h4>Structure directives</h4>
      <a
        routerLink="ngIf"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton"
        >03_*ngIf</a
      >
      <a
        routerLink="ngSwith"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton"
        >04_ngSwith</a
      >
      <a
        routerLink="ngFor"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton"
        >05_*ngFor</a
      >
      <a
        routerLink="templates-directives"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton four"
        >06_templates directives</a
      >
      <a
        routerLink="directive-container"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton four"
        >07_ng-container</a
      >
      <a
        routerLink="template-outlet"
        class="button"
        ariaCurrentWhenActive="page"
        routerLinkActive="activebutton four"
        >08_*ngTemplateOutlet</a
      >
      <h3>Pipes</h3>
      <a
        class="button"
        routerLink="pipes"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        pipes
      </a>
    </nav>
  </div>
  <div class="box-children"></div>
</div>
<hr />
<router-outlet></router-outlet>
