<div class="container">
  <nav class="navigation">
    <a
      class="button"
      routerLink="/home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Home page
    </a>
    |
    <a
      class="button"
      routerLink="/home-work"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Home work
    </a>
    |
    <a
      class="button"
      routerLink="/heroes-list"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Heroes
    </a>
    |
    <a
      class="button"
      routerLink="/contacts"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Contacts
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
