<p>modules-and-components</p>

<div class="box">
  <div class="box-nav">
    <nav class="navigation">
      <a
        class="button"
        routerLink="clothes"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        Clothes
      </a>
      |
      <!-- <a
        class="button"
        routerLink="task2"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        Slider
      </a> -->
    </nav>
  </div>
  <div class="box-children">
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
